# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio
*.sdf
*.suo
*.pdb
*.vcxproj.user
Debug/*
Release/*

# Intel C compiler
ipch/*

# etc
*.d
Default/*.cg
